@include tablet-small {
  .nav {
    &__links {
      display: flex;
      width: 50%; // Ensure the container stretches to the available width
      max-width: 400px;

      // increase the width of the nav items
      // finish styling the rest

      @include tablet-large {
        width: 100%;
        max-width: 450px;
      }

      @include desktop-small {
        width: 100%;
        max-width: 550px;
      }

      @include desktop-large {
        width: 100%;
        max-width: 600px;
      }
    }

    &__links-container {
      display: flex;
      justify-content: space-between;
      width: 100%;

      @include tablet-medium {
        gap: 1rem;
      }
    }

    &__links-item {
      color: white;
      font-size: 1.8rem;
      transition: 0.3s ease;

      @include tablet-small {
        font-size: 1.6rem;
      }

      @include tablet-medium {
        font-size: 1.8rem;
      }

      @include tablet-large {
        font-size: 2rem;
      }

      @include desktop-small {
        font-size: 2.2rem;
      }

      &:hover {
        color: $pink;
      }
    }
  }
}
