.projects__card{
  width: 100%;


  &-swpContainer{
    height: 300px;
    overflow: hidden;
  }

  &-img{
    width: 100%;
    transition: transform 3s linear;
    object-fit: contain; // OR 'contain' depending on preference
    border-radius: 8px;
    
  }

  &-img:hover{
    transform: translateY(var(--height));
  }
}





.swiper {
  height: 100% !important;
}


