

.my-skills{
    
    @include tablet-medium{
        width: 40%;
    }
      // card instance
      &__card{
        display: flex;  
        flex-direction: column;
        gap: 2rem;
        padding: 1.6rem;
        padding: 2rem 1.6rem 2rem 1.6rem;

       
    }

    &__heading{
        border-bottom: 1px solid grey;
        font-size: 2rem;
        padding-bottom: 2rem;
    }

    &__title{
        color: white;

    }

    // STYLING FOR EACH SKILLS CONTAINERS

    &__container{
     display: flex;
     flex-direction: column;
     gap: 2rem;
    
    }

    &__wrapper{
        display: flex;
        justify-content: space-between;
    }

    &__progress-bar{
        width: var(--progress-width);
        background-color: red;
        height: 0.3rem; 
        border-radius: 4px;
        background: linear-gradient(to right, #5af68e, #33fe00);
    }

}