@use "../../../styles/partials/variables" as *;

.nav {
  &__side-menu-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: fit-content;
  }

  &__side-menu-icon {
    font-size: 35px;
    color: white; /* Adjust the color as needed */
    transition: color 0.3s ease;

    &:hover {
      color: $pink;
    }
  }
}
