.plans{

    display: flex;
    flex-direction: column;
    gap:  2rem;
    margin-bottom: 4rem;
    max-width: 500px;
    margin: 0 auto;
    width: 100%;
    @include tablet-small{
        gap: 6rem;
        max-width: 1200px;
        margin: 0 auto;
    }

   

     &__intro-container{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        margin-top: 4rem;
        @include tablet-small{
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            max-width: 1200px;
            margin: 0 auto;
            margin-top: 8rem;   
        }
     }


    &__text-container{
        display: flex;
        flex-direction: column;
        gap: 1.6rem;
        @include tablet-small{
            gap: 2rem;
        }
        @include tablet-large{
            gap: 3rem;
        }
      
    }

    &__title{
        font-size: 3rem;
        color: white;
        line-height: 3.5rem;
        font-family: "inter", sans-serif;
       
        @include tablet-large{
            font-size: 4rem;
            line-height: 4.5rem;
        }
    }

    &__paragraph{
        color: $text-grey;
        font-size: 1.3rem;
        line-height: 1.8rem;
        @include tablet-small{
            font-size: 1.6rem;
            line-height: 2.2rem;
        }
        @include tablet-large{
            font-size: 2rem;
            line-height: 2.8rem;
        }
    }

    &__quote-btn{
        border-radius: 8px;
        padding: 1.3rem;
        font-size: 1.3rem;
        background: linear-gradient(to right, #f70354, rgb(0, 187, 255));
        color: white;
        width: 150px;
        cursor: pointer;

        @include tablet-small{
            width: 200px;
        }
        @include tablet-large{
            font-size: 1.8rem;
            height: 5rem;
        }
    }

    @include tablet-small{
    &__glitch-img{
        max-width: 40%;
       
        }
       
    }

}
