@use "../../../styles/partials/variables" as *;

.nav {
  &__side-menu {
    position: fixed; /* Sticks the menu relative to the viewport */
    top: 0;
    left: 0; /* Aligns the menu to the left */
    width: 100%; /* Makes the menu span the entire width */
    height: 100vh; /* Makes the menu span the entire height of the screen */
    background-color: $black; /* Dark background for overlay effect */
    z-index: 1000; /* Ensures the menu is above other elements */
    transform: translateY(100%);
    transition: transform 1s ease-in-out;

    padding-left: 1.6rem;
    padding-right: 1.6rem;
    display: flex;
    flex-direction: column;
    gap: 8rem;
  }

  &__side-menu-open{
    transform: translateY(0);
  }

  &__animation-container {
    opacity: 0;
    visibility: hidden;
    transition: opacity 3s ease, visibility 3s ease;
    transition-delay: 0s;
    display: flex;
    flex-direction: column;
    gap: 8rem;
  }

  &__animation-container-open {
    opacity: 1;
    visibility: visible;
    transition-delay: 1s;
  }


  &__overlay{
    position: fixed; /* Sticks the menu relative to the viewport */
    top: 0;
    left: 0; /* Aligns the menu to the left */
    width: 100%; /* Makes the menu span the entire width */
    height: 100vh; /* Makes the menu span the entire height of the screen */
    background-color: rgba(65, 65, 65, .6745098039); /* Dark background for overlay effect */
    z-index: 999; /* Ensures the menu is above other elements */
    transform: translateY(-100%);
    transition: transform 1s ease-in-out;
  }

  &__overlay-open{
    transform: translateY(0);
  }

  &__side-menu-logo {
    font-size: 3rem;
    color: white;
    transition: transform 0.3s;
    cursor: pointer;

    &:hover {
      transform: scale(1.2) translateX(8%);
    }
  }

  &__side-menu-logo-pink {
    color: $pink;
    font-size: 3rem;
  }


  &__side-menu-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4rem;
  }



}

