@use "./styles/partials/text" as *;
@use "./styles/partials/variables" as *;
@use "./styles/partials/global" as *;
body {
  font-family: "SpaceGrotesk";
  background-color: $mainBgColour;
  font-size: 62.5%;
}
