

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1.6rem;
  width: 100%;

  @include mobile-medium {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  @include mobile-large {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  @include tablet-medium {
    margin: 0 auto;
    padding: 2.4rem 2.4rem;
    padding-left: 0rem;
    padding-right: 0rem;
    max-width: 90rem;
  }

  @include tablet-large {
    padding-top: 3rem ;
    max-width: 110rem;
  }

  @include desktop-small {
    width: 80%;
    max-width: 120rem;
  }

  @include desktop-medium{
    width: 82%;
    max-width: 130rem;
  }

  @include desktop-large {
    width: 81%;
    max-width: 300rem;
  }

  &__logo {
    font-size: 2.8rem;
    color: white;
    transition: transform 0.3s;
    cursor: pointer;

    @include tablet-small{
        font-size: 3rem;
    }

    @include tablet-medium{
      font-size: 3.5rem;
  }

    @include desktop-small{
        font-size: 3.8rem;
    }

    &:hover {
      transform: scale(1.2) translateX(15%);
    }
  }

  &__logo-pink {
    color: $pink;
    font-size: 2.8rem;

    @include tablet-small{
        font-size: 3rem;
    }

    @include tablet-medium{
      font-size: 3.5rem;
  }

    @include desktop-small{
        font-size: 3.8rem;
    }
  }

  &__burger-btn {
    position: relative;
    z-index: 1001;
    border-radius: 40px;
    height: 4rem;
    width: 4rem;
    background-color: $mainBgColour;
    border: 1px solid grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.7rem;
    align-items: center;
    cursor: pointer;
    opacity: 100%;
    transition: border-color 0.3s ease, opacity 5s ease;
    padding: 0;
    box-sizing: border-box;
    background: transparent;

    &:hover {
      border-color: $pink;

      .nav__burger-bar {
        background-color: $pink;
      }
    }
  }

  &__burger-bar {
    height: 2px;
    width: 50%;
    background-color: white;
    transition: background-color 0.3s ease, transform 0.3s;
  }
}

// styling to get the x formation
.open-bar-2 {
  position: relative;
  bottom: 5px;
  transform: rotate(130deg);
  background-color: $pink;
}

.open-bar-1 {
  position: relative;
  top: 4px;
  transform: rotate(-130deg);
  background-color: $pink;
}

// when the menu is open change the border color to pink
.open {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 1s ease, visibility 0s 1s;
}